//************************************************************************
//MIXINS
//************************************************************************/

@mixin flexy ($dis:flex, $dir:null, $wrap:null, $just: null) {
	display:$dis;
	flex-direction: $dir;
	flex-wrap: $wrap;
	justify-content: $just;
}

//BEM Selectors
@mixin e ($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m ($modifier) {
	&--#{$modifier} {
		@content;
	}
}

//Border
@mixin border ($width, $color: $border-color, $style : solid, $side : null) {
	@if ($side != null) {
		border-#{$side} : $width $style $color;
	} 
	@else {
		border : $width $style $color;
	}
}