//************************************************************************
//PLACEHOLDERS
//************************************************************************/

%containers {
	margin : em(20px) 0;
	padding : em(20px);
	&:not(:last-child) {
		@include border ($width : 1px, $side : bottom);
	}
	@include mq(large) {
		@include border ($width : 1px, $side : bottom);
	}
}

%social-cards {
	background-color: $grey-background;
	padding: em(20px);
	transition : background-color $default-trans-time;
	&:hover {
		background-color:$darker-grey-background;
	}
}

%social-icons {
	width:em(100px, 40px);
	height:em(100px, 40px);
	background-color: $primary-color;
	border-radius: $br-round;
	margin:em(10px);
}

%graph-button {
	transition: background-color $default-trans-time;
	border-radius : $br;
	border:none;
	&:active,
	&:focus {
		outline:none;
	}
	background-color: $accent-RBGA-Color-t;
	&:hover {
		background-color: $accent-RBGA-Color;
	}
	@include mq(large) {
		padding: em(40px);
	}
}

%user-images {
	max-width:em(40px);
	max-height : em(40px);
	border-radius: $br-round;
}

%button {
	transition: background-color $default-trans-time;
	height:em(50px);
	color:$white;
	cursor: pointer;
	&:active,
	&:focus {
		outline:none;
	}
	border-radius : $br;
}

%clearfix {
	overflow:auto;
	&::after {
		content:"";
		clear:both;
		display:table;
	}
}