/************************************************************************
GRID-LAYOUT
************************************************************************/

#site-wrapper {
	min-width: $site--min-width;
}

.main-header {
	grid-area: header;
}

.nav {
	grid-area: nav;
}

#page-content-wrapper {
	margin:0;
	grid-area: page-content;
}

#site-wrapper {
	display: grid;
	grid-template-areas: "header"
						 "nav"
						 "page-content";
	
	@include mq($break : medium) {
		grid-template-columns: em(50px);
		grid-template-areas: "header header"
						 "nav page-content";
	}
	
}

