/************************************************************************
HEADER
************************************************************************/

.main-header {
	background-color: $primary-color;
	color: $white;
	@include flexy($just : space-between);
	padding: em(20px);
	align-items: center;
}

.header-profile-info-wrapper {
	@include flexy($dir: row);
	align-items: center;
	margin-right:em(20px);
}

.notification-wrapper {
	position: relative;
	border-right: 1px $black solid;
}

.notification-bell {
	width:em(20px);
	margin-right: em(20px);
	padding:em(15px) 0;
	@include mq(large) {
		width: em(30px)
	}
	transition: transform $default-trans-time ease-out;
	cursor: pointer;
	&:hover {
		transform: scale(1.2);
	}
	
}

.green-dot {
	position: absolute;
	width:em(7px);
	height:em(7px);
	background-color: $accent-color;
	border-radius: $br-round;
	right:em(15px);
	top:em(10px);
	@include mq(large) {
		width:em(10px);
		height:em(10px);
	}
}

.notification-dropdown-content {
	position : absolute;
	display : none;
	z-index : 1000;
	width : max-content;
	text-align : center;
	background-color : $darker-grey-background;
	border-radius : $br;
}

.notification-dropdown-content a {
	opacity: 1;
	display:block;
	padding: em(5px);
	color: $black;
	margin:em(10px);
}

.profile-image {
	@extend %user-images;
	margin:0 em(20px);
}

