/************************************************************************
SIDEBAR-NAV
************************************************************************/

.sidebar-nav {
	background-color: $secondary-color;
	height:100%;
	margin:0;
}
